@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White */
  --foreground: #171717; /* Near black */
}

/* Define dark mode variables when .dark class is present on html */
html.dark {
  --background: #18181b; /* A dark zinc/gray color */
  --foreground: #f8f8f8; /* A light gray/off-white color */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Mono', monospace;
}
